@import 'global-styles.scss';

#wsmd-dashboard {

    #wsmd-form {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        > * {
            width: calc(50% - 0.5rem);
        }

        .ts-wrapper {
            width: 100%;
        }

        #wsmd-map {
            height: 0;
            width: 100%;
            aspect-ratio: 16/9;

            &.init {
                height: auto;
            }
        }

        #wsmd-form-message {
            width: 100%;
            display: flex;
            justify-content: center;

            &.loading {
                &:before {
                    content: '';
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    border: 2px solid #333;
                    border-top-color: transparent;
                    border-radius: 50%;
                    animation: spin 1s linear infinite;
                    margin: 0 auto;
                }

                @keyframes spin {
                    to {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }
}