@import 'global-styles.scss';
@import 'mixins.scss';

#wsmd-dashboard {
    container-type: inline-size;

    #wsmd-form {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        @container (max-width: 640px){
            flex-wrap: nowrap !important;
            flex-direction: column !important;
            > * {
                flex: 1 0 100% !important;
            }
        }

        > * {
            flex: 1 0 calc(50% - 1rem);
        }

        .ts-wrapper {
            flex: 1 0 100%;
            width: 100%;
        }

        #wsmd-map {
            flex: 1 0 100%;
            width: 100%;
            aspect-ratio: 16/9;

            @container (max-width: 640px){
                aspect-ratio: 1/1;
            }
        }

        #wsmd-save-settings{
            margin-top: 1rem;
        }

        #wsmd-form-message {
            flex: 1 0 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            padding: 0.5rem 1rem;

            .error-field {
                //
            }

            &.loading {
                @include loader;
            }
        }
    }
}