@import 'icomoon/style.css';

#wsmd-form {

    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    .ts-control {
        appearance: none;
        padding: var(--wsmd-input-padding, 0.5rem);
        background-color: var(--wsmd-input-background-color, #f2f2f2);
        color: var(--wsmd-input-color, #43454b);
        border: var(--wsmd-input-border, 0);
        box-sizing: var(--wsmd-input-box-sizing, border-box);
        font-weight: var(--wsmd-input-font-weight, 400);
        box-shadow: var(--wsmd-input-box-shadow, inset 0 1px 1px rgba(0, 0, 0, .125));
        min-height: var(--wsmd-input-min-height, 2.75rem);

        .item{
            color: var(--wsmd-ts-item-color, #43454b);

            a.remove::before{
                color: var(--wsmd-ts-remove-item-color, #43454b);
                opacity: var(--wsmd-ts-remove-item-opacity, 0.5);
            }
        }
    }

    button{
        appearance: none;
        cursor: pointer;
        background-color: var(--wsmd-button-background-color, #eeeeee);
        border: var(--wsmd-button-border, 0);
        color: var(--wsmd-button-color, #333333);
        padding: var(--wsmd-button-padding, .5rem 1.5rem);
        border-radius: var(--wsmd-button-border-radius, 0);
        font-weight: var(--wsmd-button-font-weight, 600);
        min-height: var(--wsmd-button-min-height, 2.75rem);

        &:hover{
            background-color: var(--wsmd-button-hover-background-color, #dddddd);
        }
    }

    #wsmd-form-message{
        padding: var(--wsmd-form-message-padding, .5rem 1rem);

        &.error{
            border: var(--wsmd-form-message-error-border, 1px solid red);
        }

        &.success{
            border: var(--wsmd-form-message-success-border, 1px solid green);
        }
    }
}