@import 'variables.scss';
@import 'icomoon/style.css';

#wsmd-form {

    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    select {
        @include inputs;
    }

    button {
        appearance: none;
        cursor: pointer;
        background-color: $primary-color;
        border: 0;
        padding: .5rem 1.5rem;
        border-radius: 0;
        font-weight: 600;
        min-height: 2.75rem;

        &:hover {
            background-color: $primary-color-dark;
        }
    }

    #wsmd-form-message {
        &.error {
            border: 1px solid $error-color;
        }

        &.success {
            border: 1px solid $success-color;
        }
    }
}