@import 'icomoon/style.css';

#wsmd-form {

    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    select {
        @include inputs;
    }

    button {
        appearance: none;
        cursor: pointer;
        background-color: var(--wsmd-button-background-color, #eeeeee);
        border: var(--wsmd-button-border, 0);
        color: var(--wsmd-button-color, #333333);
        padding: var(--wsmd-button-padding, .5rem 1.5rem);
        border-radius: var(--wsmd-button-border-radius, 0);
        font-weight: var(--wsmd-button-font-weight, 600);
        min-height: var(--wsmd-button-min-height, 2.75rem);

        &:hover {
            background-color: var(--wsmd-button-hover-background-color, #dddddd);
        }
    }

    #wsmd-form-message {
        &.error {
            border: var(--wsmd-form-message-error-border, 1px solid red);
        }

        &.success {
            border: var(--wsmd-form-message-success-border, 1px solid green);
        }
    }
}