#wsmd-member-directory{

    #wsmd-form{
        #wsmd-search-address{
            width: 400px;
            max-width: 100%;
        }
    }

    #wsmd-map{
        width: 100%;
        aspect-ratio: 16/9;
    }
}