@import 'mixins.scss';

$select-border-radius: var(--wsmd-ts-input-border-radius, 0);
$select-font-size: var(--wsmd-ts-input-font-size, 1rem);

@import '~tom-select/src/scss/tom-select.scss';

#wsmd-form {
    .ts-wrapper {
        //

        .ts-control {
            @include inputs;

            .item {
                color: var(--wsmd-ts-item-color, #43454b);

                a.remove::before {
                    color: var(--wsmd-ts-remove-item-color, #43454b);
                    opacity: var(--wsmd-ts-remove-item-opacity, 0.5);
                }
            }
        }

        .ts-dropdown {
            //

            .ts-dropdown-content {
                //

                .optgroup {
                    //

                    .optgroup-header {
                        font-weight: 600;
                        padding: 0.75rem;
                    }

                    .option {
                        padding: 0.75rem;
                        padding-left: 3rem;
                    }
                }
            }
        }
    }
}