$primary-color-dark: #dddddd;
$primary-color: #eeeeee;
$primary-color-light: #ffffff;
$border-color-dark: rgba(0, 0, 0, 0.3);
$border-color: rgba(0, 0, 0, 0.2);
$border-color-light: rgba(0, 0, 0, 0.1);
$error-color: #ff0000;
$success-color: #00ff00;
$spinner-color: #333333;