$primary-color-dark: var(--wsmd-primary-color-dark, #dddddd);
$primary-color: var(--wsmd-primary-color, #eeeeee);
$primary-color-light: var(--wsmd-primary-color-light, #f8f8f8);
$primary-color-extra-light: var(--wsmd-primary-color-extra-light, #ffffff);
$border-color-dark: var(--wsmd-border-color-dark, rgba(0, 0, 0, 0.3));
$border-color: var(--wsmd-border-color, rgba(0, 0, 0, 0.2));
$border-color-light: var(--wsmd-border-color-light, rgba(0, 0, 0, 0.1));
$error-color: var(--wsmd-error-color, #ff0000);
$success-color: var(--wsmd-success-color, #00ff00);
$black-color: var(--wsmd-black-color, #333333);
$black-light-color: var(--wsmd-black-light-color, #43454b);
$text-color: var(--wsmd-text-color, #6d6d6d);
$heading-color: var(--wsmd-heading-color, $black-color);